{% extends 'base.html' %}   
{% block title %}{{post.title_tag}}{% endblock  %}
{% block content %}
    <h1>Add Post</h1>
    <br><br>
        {% if user.is_authenticated %}
        <div class="form-group">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-info">Post</button>
            </form>
        </div>
        {% else %}
            <h3>You Are Not Allowed To Add Post !!!!</h3>
            <i class="fa fa-italic" aria-hidden="true"><a href="{% url 'login' %}">Login Here To Add Post !!</a></i>
        {% endif %}

        <script>
            var name = '{{user.id}}';
            document.getElementById('elder').value=name;
        </script>


{% endblock  %}