{% extends 'base.html' %}   
{% block title %}{{post.title_tag}}{% endblock  %}
{% block content %}
    <h1>Add Category</h1>
    <br><br>
        {% if user.is_authenticated %}
        <div class="form-group">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-info">Add Category</button>
            </form>
        </div>
        {% else %}
            <h3>You Are Not Allowed To Add Category !!!!</h3>
        {% endif %}
{% endblock  %}