{% extends 'base.html' %}   
{% block title %}{{post.title_tag}}{% endblock  %}
{% block content %}

    <h1>{{post.title}} </h1>
    <h3>By: {{post.author}} - <small>{{post.post_date}}</small> </h3>
    <hr>
    <small>{{post.author.first_name}}{{post.author.last_name}}</small>
    <p>{{post.body|safe}} </p>
    <br>
    <div>
        {% if user.is_authenticated %}
           {% if user.id == post.author.id %}
           <a href="{% url 'update_post' post.pk %}" class="btn btn-info">Edit</a>
           <a href="{% url 'delete_post' post.pk %}" class="btn btn-danger">Delete</a>
           {% endif %}
        {% endif %}
    </div>
    <br>
    <br>
    <br>
    <a href="{% url 'home' %}" class="btn btn-secondary" ><<< Back</a>
{% endblock  %}