{% extends 'base.html' %}
{% block title %}Home Page{% endblock  %}
{% block content %}
    <h1>Post</h1>

    <ul>
        {% for post in object_list %}
            <ul>
                <li>By : <a href="{% url 'article-detail' post.id %}">{{post.title}} </a><br><a href="">{{ post.title_tag}}</a>
                    {{post.author.email}}<br>{{post.author.first_name}} <br>{{post.author.last_name}}<br> {{post.body}}
                </li>
            </ul>
        {% endfor %}
    </ul>
{% endblock  %}