{% extends 'base.html' %}
{% block title %}Home Page{% endblock  %}
{% block content %}
    <h1>Post</h1>

    <ul>
        {% for post in object_list %}
            <ul>
                <li>By : <a href="{% url 'article-detail' post.id %}">{{post.title}}</a> - <small>{{post.post_date}}</small> 
                    
                    <br><a href="">{{ post.title_tag}}</a>- <a href="{% url 'category' post.category|slugify  %}"><i>{{ post.category}}</i></a>
                    <br>{{post.author.first_name}}<br> 
                    <p>{{post.body|slice:":200"|safe}}</p>
                </li>
                <div>
                   {% if user.is_authenticated %}
                       {% if user.id == post.author.id %}
                       <a href="{% url 'update_post' post.pk %}" class="btn btn-info">Edit</a>
                       <a href="{% url 'delete_post' post.pk %}" class="btn btn-danger">Delete</a>
                       {% endif %}
                   {% endif %}
                </div>
            </ul>
        {% endfor %}
    </ul>
     
{% endblock  %}