{% extends 'base.html' %}   
{% block title %}{{post.title_tag}}{% endblock  %}
{% block content %}
    <h1>Update Post</h1>
    <br><br>
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
        <div class="form-group">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-info">Update</button>
            </form>
        </div>
        {% else %}
        <h3>You're Not Allowed To Update This Post</h3>
        {% endif %}
    {% else %}
        <h3>You're Not Allowed To Update This Post</h3>
        <a href="{% url 'login' %}">Login Here To Update!!!!!</a>
    {% endif %}
{% endblock  %}